{% include 'public_header.html' %}
<section class="w3l-main-slider" id="home">
    <div class="banner-content">
        <div id="demo-1"
            data-zs-src='["/static/assets/images/banner1.jpg", "/static/assets/images/banner2.jpg","/static/assets/images/banner3.jpg", "/static/assets/images/banner4.jpg"]'
            data-zs-overlay="dots">
            <div class="demo-inner-content text-center">
                <div class="container">
                    <div class="banner-info">
                        
                        <h3 class="mt-2 mb-5">Explore tastes, Explore us</h3>
                        <p>Filling every occasion with great food and service</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 <!-- about section -->
 <section class="w3l-aboutblock py-5">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <h3 class="title-style">Let the party begin with us</h3>
                <p class="mt-3">The Catering co. has been revered as a premier Indian Catering Company for over 25 years. We’re a culturally diverse team of travelers inspired by cuisines across the globe. From weddings to corporate events, we bring chef-inspired menus, brilliant event design and immersive experiences to every event.
                    Entrust us with all your cuisines,and let us handle it with love and precised detailing.</p>
                <div class="row mt-lg-5 mt-4">
                    <div class="col-sm-6 grids_info">
                        <i class="fas fa-utensils"></i>
                        <div class="detail mt-sm-4 mt-3">
                            <h4>Easy Manual</h4>
                            <p>Sed ut perspiciatis unde omnis iste natus.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 grids_info mt-sm-0 mt-4">
                        <i class="fas fa-bread-slice"></i>
                        <div class="detail mt-sm-4 mt-3">
                            <h4> For Everyone</h4>
                            <p>Sed ut perspiciatis unde omnis iste natus.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 ps-lg-5 mt-lg-0 mt-5">
                <div class="row align-items-center">
                    <div class="col">
                        <img src="/static/assets/images/about1.jpg" alt="" class="img-fluid radius-image">
                    </div>
                    <div class="col">
                        <img src="/static/assets/images/about2.jpg" alt="" class="img-fluid radius-image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //about section -->

<!-- courses section -->
<section class="w3l-courses py-5" id="courses">
    <div class="container pb-lg-5 pb-md-4 pb-2">
        <h5 class="sub-title text-center">Our Cooking Classes</h5>
        <h3 class="title-style text-center">Popular Courses</h3>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 item mt-5">
                <div class="card">
                    <div class="card-header p-0 position-relative">
                        <a href="classes.html" class="zoom d-block">
                            <img class="card-img-bottom d-block" src="/static/assets/images/c1.jpg" alt="Card image cap">
                        </a>
                        <div class="post-pos">
                            <a href="classes.html" class="receipe blue">Beginner</a>
                            <a href="classes.html" class="receipe yellow ml-2">New</a>
                        </div>
                    </div>
                    <div class="card-body course-details">
                        <div class="price-review d-flex justify-content-between mb-1align-items-center">
                            <p>$53.00</p>
                            <ul class="rating-star">
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star-o"></span></li>
                            </ul>
                        </div>
                        <a href="classes.html" class="course-desc">How to make singapore chicken rise at home
                        </a>
                        <div class="course-meta mt-4">
                            <div class="meta-item course-lesson">
                                <span class="fas fa-users"></span>
                                <span class="meta-value"> 68 Students enrolled</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 item mt-5">
                <div class="card">
                    <div class="card-header p-0 position-relative">
                        <a href="classes.html" class="zoom d-block">
                            <img class="card-img-bottom d-block" src="/static/assets/images/c2.jpg" alt="Card image cap">
                        </a>
                        <div class="post-pos">
                            <a href="classes.html" class="receipe blue">Cooking</a>
                            <a href="classes.html" class="receipe yellow ml-2">Recipe</a>
                        </div>
                    </div>
                    <div class="card-body course-details">
                        <div class="price-review d-flex justify-content-between mb-1align-items-center">
                            <p>$70.00</p>
                            <ul class="rating-star">
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star-o"></span></li>
                            </ul>
                        </div>
                        <a href="classes.html" class="course-desc">Make a delicious vegan burger at home</a>
                        <div class="course-meta mt-4">
                            <div class="meta-item course-lesson">
                                <span class="fas fa-users"></span>
                                <span class="meta-value"> 44 Students enrolled</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 item mt-5">
                <div class="card">
                    <div class="card-header p-0 position-relative">
                        <a href="classes.html" class="zoom d-block">
                            <img class="card-img-bottom d-block" src="/static/assets/images/c3.jpg" alt="Card image cap">
                        </a>
                        <div class="post-pos">
                            <a href="classes.html" class="receipe blue">Beginner</a>
                            <a href="classes.html" class="receipe yellow ml-2">Free</a>
                        </div>
                    </div>
                    <div class="card-body course-details">
                        <div class="price-review d-flex justify-content-between mb-1align-items-center">
                            <p>$69.00</p>
                            <ul class="rating-star">
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star-o"></span></li>
                            </ul>
                        </div>
                        <a href="classes.html" class="course-desc">How to make simple delicious noodles</a>
                        <div class="course-meta mt-4">
                            <div class="meta-item course-lesson">
                                <span class="fas fa-users"></span>
                                <span class="meta-value"> 74 Students enrolled</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-5 mx-auto text-more text-center pt-lg-4">
                <a href="classes.html" class="btn btn-style">View All Courses</a>
            </div>
        </div>
    </div>
</section>
<!-- //courses section -->

<!-- why section -->
<section class="w3l-whyblock py-5">
    <div class="pb-lg-5 pb-md-4 pb-2">
        <div class="row align-items-center m-0">
            <div class="col-lg-6 ps-0">
                <img src="/static/assets/images/about.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-lg-6 ps-xl-5 ps-lg-4 mt-lg-0 mt-5">
                <h5 class="sub-title">Our Features</h5>
                <h3 class="title-style mb-4">Why Choose Us?</h3>
                <p>Lorem ipsum viverra feugiat. Pellen tesque libero ut justo,
                    ultrices in ligula. Semper at tempufddfel. Lorem ipsum dolor sit amet consectetur adipisicing
                    elit.</p>
                <div class="two-grids mt-5">
                    <div class="grids_info">
                        <i class="fas fa-trophy"></i>
                        <div class="detail">
                            <h4>We Are Winners of 50 Competitions</h4>
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                mollit.</p>
                        </div>
                    </div>
                    <div class="grids_info mt-xl-5 mt-lg-4 mt-5">
                        <i class="fas fa-user-friends"></i>
                        <div class="detail">
                            <h4>27 Professional Chefs-Trainers</h4>
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                mollit.</p>
                        </div>
                    </div>
                    <div class="grids_info mt-xl-5 mt-lg-4 mt-5">
                        <i class="fas fa-hourglass-half"></i>
                        <div class="detail">
                            <h4>Guaranteed Fast Employment</h4>
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                mollit.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //why section -->

<!-- team section -->
<div class="w3l-team-grids-sec py-5" id="team">
    <div class="container pb-lg-5 pb-md-4 pb-2">
        <h5 class="sub-title text-center">Team of Professionals</h5>
        <h3 class="title-style text-center">Our Best Chefs</h3>
        <div class="row cards justify-content-center">
            <div class="col-lg-4 col-md-6 mt-5">
                <a href="#img" class="card">
                    <img src="/static/assets/images/team1.jpg" class="card__image radius-image" alt="" />
                    <div class="card__overlay">
                        <div class="card__header">
                            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                                <path />
                            </svg>
                            <div class="card__header-text">
                                <h3 class="card__title">Olive Yew</h3>
                                <span class="card__status">Masterchef</span>
                            </div>
                        </div>
                        <p class="card__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                            diam nonummy nibh.</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 mt-5">
                <a href="#img" class="card">
                    <img src="/static/assets/images/team2.jpg" class="card__image radius-image" alt="" />
                    <div class="card__overlay">
                        <div class="card__header">
                            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                                <path />
                            </svg>
                            <div class="card__header-text">
                                <h3 class="card__title">Aida Joe</h3>
                                <span class="card__status">Masterchef</span>
                            </div>
                        </div>
                        <p class="card__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                            diam nonummy nibh.</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 mt-5">
                <a href="#img" class="card">
                    <img src="/static/assets/images/team3.jpg" class="card__image radius-image" alt="" />
                    <div class="card__overlay">
                        <div class="card__header">
                            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                                <path />
                            </svg>
                            <div class="card__header-text">
                                <h3 class="card__title">Teri Dac</h3>
                                <span class="card__status">Masterchef</span>
                            </div>
                        </div>
                        <p class="card__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                            diam nonummy nibh.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- //team section -->

<!-- content block1 -->
<section class="w3l-content-block1 py-5">
    <div class="container py-md-5 py-4">
        <div class="row">
            <div class="col-lg-6 col-md-8 title-content py-md-5">
                <h3 class="title-style text-white">Join Our Cooking Class, Become a Chef</h3>
                <p class="mt-3 text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit
                    sunt in culpa qui officia
                    sed deserunt mollit anim id est laborum mollit anim id est nulla.</p>
                <a href="about.html" class="btn btn-style mt-5">
                    Register Now
                </a>
            </div>
        </div>
    </div>
</section>
<!-- //content block1 -->

<!-- blog section -->
<section class="w3l-blog py-5" id="blog">
    <div class="container py-lg-5 py-md-4 py-2">
        <h5 class="sub-title text-center">Latest News</h5>
        <h3 class="title-style text-center">Our Fresh Blog Posts</h3>
        <div class="row inner-sec-w3ls justify-content-center">
            <div class="col-lg-4 col-md-6 about-in blog-grid-info text-left mt-5">
                <div class="card img">
                    <div class="card-body img">
                        <a href="#blog" class="d-block">
                            <img src="/static/assets/images/blog1.jpg" alt="" class="img-fluid radius-image">
                        </a>
                        <div class="blog-des">
                            <ul class="admin-post mb-3">
                                <li>
                                    <a href="#admin"><span class="fas fa-user"></span> by Admin</a>
                                </li>
                                <li>
                                    <a href="#recipes"><span class="fas fa-tags"></span> Recipes</a>
                                </li>
                                <li>
                                    <a href="#comments"><span class="fas fa-comments"></span> 3</a>
                                </li>
                            </ul>
                            <h5 class="card-title mb-3"><a href="#blog">
                                    The Importance Of Food Elements & Tips for Cooking </a></h5>
                            <p>Excepteur sint occaecat cupidatat non, sunt in culpa qui officia.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 about-in blog-grid-info text-left mt-5">
                <div class="card img">
                    <div class="card-body img">
                        <a href="#blog" class="d-block">
                            <img src="/static/assets/images/blog2.jpg" alt="" class="img-fluid radius-image">
                        </a>
                        <div class="blog-des">
                            <ul class="admin-post mb-3">
                                <li>
                                    <a href="#admin"><span class="fas fa-user"></span> by Admin</a>
                                </li>
                                <li>
                                    <a href="#classes"><span class="fas fa-tags"></span> Classes</a>
                                </li>
                                <li>
                                    <a href="#comments"><span class="fas fa-comments"></span> 4</a>
                                </li>
                            </ul>
                            <h5 class="card-title mb-3"><a href="#blog">
                                    How To Cook Turkey On Natural Gas Grills</a>
                            </h5>
                            <p>Excepteur sint occaecat cupidatat non, sunt in culpa qui officia.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 about-in blog-grid-info text-left mt-5">
                <div class="card img">
                    <div class="card-body img">
                        <a href="#blog" class="d-block">
                            <img src="/static/assets/images/blog3.jpg" alt="" class="img-fluid radius-image">
                        </a>
                        <div class="blog-des">
                            <ul class="admin-post mb-3">
                                <li>
                                    <a href="#admin"><span class="fas fa-user"></span> by Admin</a>
                                </li>
                                <li>
                                    <a href="#coach"><span class="fas fa-tags"></span> Coach</a>
                                </li>
                                <li>
                                    <a href="#comments"><span class="fas fa-comments"></span> 6</a>
                                </li>
                            </ul>
                            <h5 class="card-title mb-3"><a href="#blog">Chef Olive explains the
                                    role of best cooking tips</a></h5>
                            <p>Excepteur sint occaecat cupidatat non, sunt in culpa qui officia.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //blog section -->

<!-- instagram-feeds -->
<div class="projects" id="special">
    <div class="projects-grids">
        <div class="istagram-feeds">
            <div class="projects-w3l-grid-info">
                <a href="#blog"><img src="/static/assets/images/blog-s1.jpg" class="img-fluid" alt="" />
                    <div class="content-overlay"></div>
                    <div class="content-details fadeIn-top">
                        <span class="fab fa-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="projects-w3l-grid-info">
                <a href="#blog"><img src="/static/assets/images/blog-s2.jpg" class="img-fluid" alt="" />
                    <div class="content-overlay"></div>
                    <div class="content-details fadeIn-top">
                        <span class="fab fa-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="projects-w3l-grid-info">
                <a href="#blog"><img src="/static/assets/images/blog-s6.jpg" class="img-fluid" alt="" />
                    <div class="content-overlay"></div>
                    <div class="content-details fadeIn-top">
                        <span class="fab fa-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="projects-w3l-grid-info">
                <a href="#blog"><img src="/static/assets/images/blog-s4.jpg" class="img-fluid" alt="" />
                    <div class="content-overlay"></div>
                    <div class="content-details fadeIn-top">
                        <span class="fab fa-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="projects-w3l-grid-info">
                <a href="#blog"><img src="/static/assets/images/blog-s5.jpg" class="img-fluid" alt="" />
                    <div class="content-overlay"></div>
                    <div class="content-details fadeIn-top">
                        <span class="fab fa-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="projects-w3l-grid-info">
                <a href="#blog"><img src="/static/assets/images/blog-s3.jpg" class="img-fluid" alt="" />
                    <div class="content-overlay"></div>
                    <div class="content-details fadeIn-top">
                        <span class="fab fa-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="projects-w3l-grid-info">
                <a href="#blog"><img src="/static/assets/images/blog-s7.jpg" class="img-fluid" alt="" />
                    <div class="content-overlay"></div>
                    <div class="content-details fadeIn-top">
                        <span class="fab fa-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="projects-w3l-grid-info">
                <a href="#blog"><img src="/static/assets/images/blog-s8.jpg" class="img-fluid" alt="" />
                    <div class="content-overlay"></div>
                    <div class="content-details fadeIn-top">
                        <span class="fab fa-instagram"></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
    {% include 'footer.html' %}