{% include 'public_header.html' %}
    <h1>Sign Up</h1>
    <form action="" method="POST">
    <table>
        <center>
            <tr>
                <th>Email</th>
                <td><input type="text" name="Email"></td>
            </tr>
        <tr>
            <th>Firstname</th>
            <td><input type="text" name="Firstname"></td>
        </tr>
        <tr>
            <th>Lastname</th>
            <td><input type="text" name="Lastname"></td>
        </tr>
        <tr>
            <th>Phone Number</th>
            <td><input type="text" name="Phone_number"></td>
        </tr>
        
        <tr>
            <th>House Name</th>
            <td><input type="text" name="House_name"></td>
        </tr>
        <tr>
            <th>State</th>
            <td><input type="text" name="State"></td>
        </tr>
        <tr>
            <th>District</th>
            <td><input type="text" name="District"></td>
        </tr>
        <tr>
            <th>Pincode</th>
            <td><input type="text" name="Pincode"></td>
        </tr>
        <tr>
            <th>Password</th>
            <td><input type="password" name="Password"></td>
        </tr>

        <tr>
            <span style="padding-left: 200px;">
            <td><input type="submit" value="Submit" class="btn btn-success" name="submit"></td></span>
        </tr>
        </center>

    </table>
    </form>
{% include 'footer.html' %}
<style>
    .lg-main{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 200px;
        margin-top: 120px;

    }
    h1{
       text-align: center;
       padding-top: 20px;
       color:
     #FF5733;
     font-family:Cambria;
    }
    .lg-2nd{
        margin-bottom: 300px;
        margin-top: 120px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        border-radius: 30px;
        height: 250px;
        background-color: rgba(0, 0, 0, 0.09);
    }
    body{
    background-image: url("/static/assets/images/back.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

</style> box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.0) 0px -3px 5px;