{% include 'staff_header.html' %}

<!-- banner section -->
<section class="w3l-main-slider" id="home">
    <div class="banner-content">
        <div id="demo-1"
            data-zs-src='["/static/assets/images/banner1.jpg"]'
            data-zs-overlay="dots">
            <div class="demo-inner-content text-center">
                <div class="container">
                    <div class="banner-info">
                    <h3 class="mt-2 mb-5">Welcome Staff</h3>
                        
                        
                        
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //banner section -->


{% include 'footer.html' %}