{% include 'staff_header.html' %}

<h3 style="margin-top: 100px;">Admin View Bookings</h3>

{% if data['view'] %}

<table class="table table-striped">
    <tr>
        <th>Customer Name</th>
        <!-- <th>Product</th>
        <th>Price</th>
        <th>Quantity</th> -->
        <th>Total Price</th>
        <th>Order Date</th>
        <th>Order Status</th>

    </tr>
    {% for row in data['view'] %}
    <tr>
        <td>{{ row['Firstname'] }}{{row['Lastname']}}</td>
        <!-- <td><img src="/{{row['product_img']}}" alt="" style="width: 100px; height: 100px;"><br>Product Name:{{ row['product_name'] }}<br> {{row['product_desc']}}</td>
        <td>{{ row['total_price'] }}</td>
        <td>{{ row['quantity'] }}</td> -->
        <td>{{ row['total_price'] }}</td>
        <td>{{ row['date'] }}</td>
        <td>{{ row['status'] }}</td>
        
        <!-- <td><a href="adminviewdetails?omid={{row['order_master_id']}}" class="btn btn-info">View Details</a></td> -->
        <!-- <td><a href="adminviewpayment?omid={{row['order_master_id']}}" class="btn btn-success">View Payment</a></td> -->
    </tr>
    {% endfor %}
    <td align="right" colspan="4"><button onclick="Printpage()" class="btn btn-success">Print</button></td>
</table>


</div>
</div>

{% else %}

<span style="font-size: medium;color: red;" >Noting Here ...</span>

{% endif %}
</center>

<br><br><br><br><br><br><br><br><br>
{% include 'footer.html' %}


<script>
function Printpage(){
print()
}
</script>